{% extends "base.j2" %}

{% block content %}
<style>
.bgimg {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.bgimg {background-image: url("https://storage.googleapis.com/bearandlazzerfair-data/public/hawaii.jpg")}
</style>

<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="w3-display-middle w3-text-white w3-center">
    <h1 class="w3-jumbo">Sasha & Peter</h1>
    <h2>Are getting married</h2>
    <h2><b>9/1/2019</b></h2>
  </div>
</header>
{% endblock %}


