{% extends "base.j2" %}

{% block content %}
<style>
.bgimg_dc {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.bgimg_dc {background-image: url("https://storage.googleapis.com/bearandlazzerfair-data/public/dc.jpg")}
</style>

<!-- About / Sasha And Peter -->
<header class="w3-display-container w3-wide bgimg_dc w3-grayscale-min" id="home">
</header>
<div class="w3-container w3-padding-64 w3-white w3-grayscale-min" id="us">
  <div class="w3-content">
    <!--img class="w3-round w3-grayscale-min" src="https://storage.googleapis.com/bearandlazzerfair-data/public/dc.jpg" style="width:100%;margin:0px 0"-->
    <h1 class="w3-center w3-text-emph"><b>Sasha & Peter</b></h1>
    <p><i>
       Sasha and Peter met when Peter was giving a seminar at Texas A&M OSA Student Chapter (OSA for the win!!!). Peter was presenting his research on filaments - a topic you can read about <a href="https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.110.183903">here</a> :)<br>
       Sasha was deeply impressed by Peter's research. She asked a question, and Peter was impressed by her quick wit and beauty.    Their romance began. 6 years later, Sasha and Peter are throwing a giant party to celebrate their decision to live together happliy ever after, and invite you to join! <br>
   </i></p><br>
  </div>
</div>

<div class="w3-container w3-padding-64 w3-white w3-grayscale-min" id="us" style="margin-bottom:50px">
  <div class="w3-content">
    <h1 class="w3-center w3-text-emph"><b>Maid of honor: Katya</b></h1>
    <p><i>
       Hi my name is Katya and I’m the bride’s Maid of Honor and sister. I’m just RUSSIAN to finish my degree in Mechanical Engineering. I’ve known the groom the same amount of time my sister has, and it was amazing to see their growth together. They started off as two saplings, then they’ve developed into an overgrown jungle of DoTA. Anyway, I love these two, so will you, and I’m excited to see everyone there! 
   </i></p><br>
    
    <h1 class="w3-center w3-text-emph"><b>Best man: Gavriil</b></h1>
    <p><i>
        Two of my very good friends - Peter Zhokhov and Sasha Zhdanova - are getting married!
I’m very excited for Peter & Sasha and humbled to be Peter’s best man. Just as in one of
my favorite songs in Frank Sinatra’s collection “That’s life” - “I’ve been a puppet, a pauper,
a pirate, a poet, a pawn and a king” - I have been all of that, but never before I had an
honor to be a best man on a wedding. As it turns out, one of the responsibilities of a best
man is to provide a short bio of who in the world is the best man. My name is Gavriil
(translated as Gabriel) and currently I’m doing research in the Physics Department at the
Colorado School of Mines. Around the same time as the last dinosaurs were roaming planet
Earth, I was born in Saint Petersburg, where I got my B.Sc. and M.Sc in physics before I
went for a graduate school in Michigan, the state in the Great Lakes. I got my Ph.D. degree
at Michigan State University in May 2013, where my Ph.D. thesis on Scattering Processes in
Atomic Physics, Nuclear Physics, and Cosmology was recognized by the Sherwood K. Haynes
best thesis award. In June of 2013 got a postdoctoral position in Texas A&M University
research groups led by Prof. Marlan O. Scully (Member of NAS) and Prof. David M. Lee
(Nobel Prize in Physics, 1996). It was there where I met Peter Zhokhov and Sasha Zhdanova
- outgoing, smart, and very candid physicists, with whom we had great many nights of fun,
share a ton of laugh and coffee of course. Fast forward in 2019: I moved to Golden, Colorado
where currently I’m doing research on open quantum systems, transport through fractional
materials, driven Bose-Einstein condensate, and many other very cool physical systems. I’m
looking forward to meet all the great folks in California and I will do my best job to make
this terrific event one of the best experiences in your lifetime.
    </i></p><br>
    <h1 class="w3-center w3-text-emph"><b>Minister: Joe</b></h1>
    <p><i> 
Originally from Colorado, I now live in College Station. It was here that I first met Peter and Sasha. Having arrived early for the semester and knowing no in town they were kind enough to invite me over for game night. And now four years later, I am thrilled to be able to share in their special day. I also enjoy baking bread, boardgames, and learning random details about things of questionable usefulness. 

   </i></p><br>
  </div>
  <p class="w3-center"><a href="/wedding" class="w3-button w3-black w3-round w3-padding-large w3-large">Wedding Details</a></p>
</div>
{% endblock %}


