{% extends "base.j2" %}

{% block content %}
<style>
.bgimg_dc {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.bgimg_dc {background-image: url("https://storage.googleapis.com/bearandlazzerfair-data/public/dc.jpg")}
</style>

<!-- About / Sasha And Peter -->
<header class="w3-display-container w3-wide bgimg_dc w3-grayscale-min" id="home">
</header>
<div class="w3-container w3-padding-64 w3-white w3-grayscale-min" id="us">
  <div class="w3-content">
    <!--img class="w3-round w3-grayscale-min" src="https://storage.googleapis.com/bearandlazzerfair-data/public/dc.jpg" style="width:100%;margin:0px 0"-->
    <h1 class="w3-center w3-text-emph"><b>Sasha & Peter</b></h1>
    <p><i>
       Sasha and Peter met when Peter was giving a seminar at Texas A&M OSA Student Chapter (OSA for the win!!!). Peter was presenting his research on filaments - a topic you can read about <a href="https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.110.183903">here</a> :)<br>
       Sasha was deeply impressed by Peter's research. She asked a question, and Peter was impressed by her quick wit and beauty.    Their romance began. 6 years later, Sasha and Peter are throwing a giant party to celebrate their decision to live together happliy ever after, and invite you to join! <br>
   </i></p><br>
  </div>
</div>

<div class="w3-container w3-padding-64 w3-white w3-grayscale-min" id="us">
  <div class="w3-content">
    <h1 class="w3-center w3-text-emph"><b>Maid of honor: Katya</b></h1>
    <p><i>
       Hi my name is Katya and I’m the bride’s Maid of Honor and sister. I’m just RUSSIAN to finish my degree in Mechanical Engineering. I’ve known the groom the same amount of time my sister has, and it was amazing to see their growth together. They started off as two saplings, then they’ve developed into an overgrown jungle of DoTA. Anyway, I love these two, so will you, and I’m excited to see everyone there! 
   </i></p><br>
    
    <h1 class="w3-center w3-text-emph"><b>Best man: Ilya</b></h1>
    <p><i>
        Ilya we miss your bio :)
    </i></p><br>
    <h1 class="w3-center w3-text-emph"><b>Minister: Joe</b></h1>
    <p><i>
        Joe has worked <strike>for the CIA</strike> REDACTED for the last 5 years. He can’t talk about his sensitive government work.
   </i></p><br>
  </div>
  <p class="w3-center"><a href="/wedding" class="w3-button w3-black w3-round w3-padding-large w3-large">Wedding Details</a></p>
</div>
{% endblock %}


