{% extends "base.j2" %}

{% block content %}
<div class="w3-container w3-padding-64 w3-white w3-grayscale-min" id="us">
  <div class="w3-content">
    <h1 class="w3-center w3-text-emph"><b>Maid of honor: Katya</b></h1>
    <p><i>
       Hi my name is Katya and I’m the bride’s Maid of Honor and sister. I’m just RUSSIAN to finish my degree in Mechanical Engineering, and my drinks. I’ve known the groom the same amount of time my sister has, and it was amazing to see their growth together. They started off as two saplings, then they’ve developed into an overgrown jungle of DoTA. Anyway, I love these two, so will you, and I’m excited to see everyone there! 
   </i></p><br>
    
    <h1 class="w3-center w3-text-emph"><b>Best man: Ilya</b></h1>
    <p><i>
        Ilya we miss your bio :)
    </i></p><br>
    <h1 class="w3-center w3-text-emph"><b>Minister: Joe</b></h1>
    <p><i>
        Joe has worked for the CIA REDACTED for the last 5 years. He can’t talk about his sensitive government work.
   </i></p><br>
  </div>
</div>
{% endblock %}


