{% extends "base.j2" %}


{% block content %}
<style>
.bgimg_castle_crags {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.bgimg_castle_crags {background-image: url("https://storage.googleapis.com/bearandlazzerfair-data/public/castle_crags.jpg")}
</style>

<header class="w3-display-container w3-wide bgimg_castle_crags w3-grayscale-min" id="home">
</header>

<!-- Wedding information -->
<div class="w3-container w3-padding-64 w3-white w3-grayscale-min w3-center" id="wedding" style="margin-bottom:50px">
  <div class="w3-content">
    <h1 class="w3-text-emph"><b>THE WEDDING</b></h1>
		
		<p> To give everyone an extra day for travel, our reception will be hosted on a Sunday, September 1st. However, we will be having a rehearsal dinner and activities the day before (possibly on Friday as well), and are happy to see out-of-town guests arrive early! Please include your expected arrival day in the RSVP. </p>
		<p>Our wedding will be hosted at a relatively unique venue – <a href = https://shastaweddings.com/sw_cabins.html>Shasta Weddings</a>.
		<b>Lodging is included</b>, and consists of cabins and campsites. Unfortunately, no pets are allowed :(
		</p>
		<p>Please let us know if you would like to decline the cabin lodging and would instead 
		prefer to camp or stay at a hotel nearby. We will do our best to accommodate specific cabin requests 
		if you let us know by email.
		<h2> Transportation </h2>
		  <p> We will not lie to you, there’s no really convenient way to get to our wedding venue. The easiest (but most expensive) way is to fly directly into Redding Airport, rent a car, and drive 1.5 hours north. There are connecting flights to Redding which leave from SFO and are operated by United. For more information on how to get from the airports to the wedding venue, google maps Shasta Weddings – the GPS location is accurate. The 30 minute road leading to the venue from I-5 is *very* picturesque, but is unlit at night. </p>

	<p>Other than that, Shasta Weddings is 6.5 hours south of Portland, 3.5 hours north of Sacramento Airport, and 4.5 hours north of SFO. 
	We will definitely organize some carpools from SFO, and will try to organize something from Sacramento, but you should talk to us personally if this is an option you want more info about. 
	If there is enough interest, we may rent a van. </p>

<p> If you are following U.S. holidays as much as or less than Peter (which is to say not at all), remember that August 31st - September 2nd is a Labor day weekend, so you are getting Monday (Sep 2nd) off. </p>

<p>
We will likely drive up the evening of Friday Aug 30th, if you would like to come Friday too, please mark the respective option in the RSVP form. 
</p>	  

    <h2> Things to do </h2>
		
<p> Hiking! Swimming! Board games! Smores! These are all planned activities at our wedding! <a href = https://smile.amazon.com/Day-Hiking-Trinity-Regions-Mountains-ebook/dp/B07CKDGVW1/ref=tmm_kin_swatch_0?_encoding=UTF8&qid=1547958119&sr=8-1>This book</a> describes several great hikes in the vicinity. The venue is directly adjacent to Castle Crags State Park and Trinity-Shasta National Forest. Further out are Lassen National Monument and Lassen Volcano National Park. There are many opportunities for day hikes and backcountry hikes, and we strongly suggest arriving with hiking and outdoor activities in mind. NOTE that cell reception is subpar in the vicinity, and there is no WiFi at the wedding site, so we suggest downloading maps ahead of time :)</p>

    <h2> Dress code </h2>
    <p> We would appreciate dearly if you wear something outside of your everyday routine - if you wear a hoodie day to day, feel free to put on a tux. If you wear a suit every day, feel free to put on shorts and sneakers :) The key thing is to wear something unusual! Either way, remember to bring outdoor / hiking clothes and shoes as well.</p>

    <h2> The Living Situation </h2>
    <p> Each cabin includes a kitchenette with a stove and oven. There is electricity, plenty of hot water, and lots of really nice outdoor showers. Food will be provided by the venue on Saturday night, Sunday breakfast and lunch, and Monday breakfast. Additional food options will be arranged by us. We will also go to Costco and bring lots of alcohol, but if you would like something special, please bring it or request it! </p>
	<div class="w3-row">
      <div class="w3-half">
	<h2>When</h2>
        <p>Getting there day - Aug 31st </p>
        <p>Wedding day - Sep 1st </p>
        <p>Wedding Ceremony - 3:00pm</p>
        <p>Reception starts just after ceremony - 3:45pm</p>
        <p>Dinner - 5:30 pm</p>
        <p>Partay!!! - 6:30 pm</p>
        <p>Getting out day - Sep 2nd</p>
        <p>Hungover breakfast - sometime am </p>
      </div>
      <div class="w3-half">
        <h2>Where</h2>
        <p>Castle Creek Rd, Castella, CA 96017 <a href="https://goo.gl/maps/zBcNWQaU2rA2">(map)</a></p>
      </div>
    </div>
    <p class="w3-center" id=registryP><a href="#" class="w3-button w3-black w3-round w3-padding-large w3-large" id=registryButton>Here's a link to our registry!</a></p>
  </div>
</div>

<script>
function registryButtonClick() {
    userName = window.localStorage.getItem('name')
    userKey = window.localStorage.getItem('key')
    data = {
        'method': 'registrylink',
        'userName': userName,
        'userKey': userKey
    }

    $.ajax('/api', {
        method: 'POST',
        data: JSON.stringify(data),
        contentType: 'application/json',
        success: (link) => {window.location.href = link}
    })
}

$('#registryButton').click(() => {registryButtonClick(); return false});
</script>

{% endblock %}

{% block js_invited %}
$('#registryP').show()
{% endblock %}

{% block js_not_invited %}
$('#registryP').hide()
{% endblock %}

