{% extends "base.j2" %}


{% block content %}
<style>
.bgimg_castle_crags {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.bgimg_castle_crags {background-image: url("https://storage.googleapis.com/bearandlazzerfair-data/public/castle_crags.jpg")}
</style>

<header class="w3-display-container w3-wide bgimg_castle_crags w3-grayscale-min" id="home">
</header>

<!-- Wedding information -->
<div class="w3-container w3-padding-64 w3-white w3-grayscale-min w3-center" id="wedding">
  <div class="w3-content">
    <h1 class="w3-text-emph"><b>THE WEDDING</b></h1>
		(fair warning that their website is kind of hard to follow but should give you an idea of what to expect). 
		<b> Lodging is included </b>, and consists of cabins. Unfortunately, no pets are allowed :(
		</p>
		<p>Please let us know if you would like to decline the provided cabin lodging and would instead 
		prefer to camp or stay at a hotel nearby. We will do our best to accommodate specific cabin requests 
		if you let us know by email.
		<h2> Transportion </h2>
		  <p> We will not lie to you, there’s no really convenient way to get to our wedding venue. The easiest (but most expensive) way is to fly directly into Redding Airport, rent a car, and drive 1.5 hours north. There are connecting flights to Redding which leave from SFO and are operated by United. For more information on how to get from the airports to the wedding venue, google maps Shasta Weddings – the GPS location is accurate. The 30 minute road leading to the venue from I-5 is *very* picturesque, but is unlit at night. </p>

	<p>Other than that, Shasta Weddings is 6.5 hours south of Portland, 3.5 hours north of Sacramento Airport, and 4.5 hours north of SFO. We will definitely organize some carpools from SFO, and will try to organize something from Sacramento, but you should talk to us personally if this is an option you want more info about. If there is enough interest, we may rent a van.</p>	  

		<h2> Things to do </h2>
		
<p> Hiking! Swimming! Board games! Smores! These are all planned activities at our wedding! <a href = https://smile.amazon.com/Day-Hiking-Trinity-Regions-Mountains-ebook/dp/B07CKDGVW1/ref=tmm_kin_swatch_0?_encoding=UTF8&qid=1547958119&sr=8-1>This book</a> describes several great hikes in the vicinity. The venue is directly adjacent to Castle Crags State Park and Trinity-Shasta National Forest. Further out are Lassen National Monument and Lassen Volcano National Park. There are many opportunities for day hikes and backcountry hikes, and we strongly suggest arriving with hiking and outdoor activities in mind. </p>

	<div class="w3-row">
      <div class="w3-half">
	<h2>When</h2>
        <p>Wedding Ceremony - 3:00pm</p>
        <p>Reception starts just after ceremony - 3:45pm</p>
      </div>
      <div class="w3-half">
        <h2>Where</h2>
        <p>Castle Creek Rd, Castella, CA 96017 <a href="https://goo.gl/maps/zBcNWQaU2rA2">(map)</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

